*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height:100vh ;
    background: #111;
}
.scan{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scan .finger{
    position: relative;
    width: 500px;
    height: 380px;
    background: url(./sat2.png);
    background-size: 500px;
    background-repeat: no-repeat;
}
.scan .finger::before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width:100% ;
    height: 100%;
    background: url(./sat.png);
    background-repeat: no-repeat;
    background-size: 500px;
    animation: animate 4s ease-in-out infinite;

}
@keyframes animate
{
    0%,100%
    {
        height: 0%;
    }
    50%
    {
        height: 100%;
    }
}
.scan .finger::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: #3fefef;
    border-radius: 10px;
    filter: drop-shadow(0 0 20px #3fefef) drop-shadow(0 0 60px #3fefef);
    animation: animate_line 4s ease-in-out infinite;
}
@keyframes  animate_line
{
    0%,100%
    {
        top:0%
    }
    50%
    {
        top: 100%;
    }
}
.scan h3{
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-top: 20px;
    color: #3fefef;
    filter: drop-shadow(0 0 20px #3fefef) drop-shadow(0 0 60px #3fefef);
    animation: animate_line 4s ease-in-out infinite;
    animation: animate_text 2s steps(1) infinite;
}
@keyframes animate_text
{
    0%,100%
    {
        opacity:0%;
    }
    50%
    {
        opacity: 100%;
    }
}
